<div class="viewport d-flex">

  <div class="clients row container">
    <mat-paginator
    *ngIf="response"
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 25, 50]"
    (page)="pageEvents($event)"
    aria-label="Select page"
  >
  </mat-paginator>
    <div *ngFor="let client of clients; let i = index">
      <mat-card>
        <mat-card-header>
          <div class="d-flex justify-content-between">
            ID:{{client.id}} -
            Cognome: {{client.cognomeContatto}}
          </div>
        </mat-card-header>
        <mat-card-content class="card-content">
          <p><span>Ragione Sociale:</span> {{client.ragioneSociale}}</p>
          <p><span>Email:</span>{{client.email}}</p>
        </mat-card-content>
        <button class="btn btn-primary" routerLink="billings/{{client.id}}" routerLinkActive="active">dettaglio</button>
      </mat-card>
    </div>
  </div>
  <div class="px-4">
    <router-outlet></router-outlet>
  </div>
</div>
