<div class="mat-elevation-z8">

<div class="paginator-header">
  <div class="d-flex pageTitle">
    <mat-icon class="dashico">group</mat-icon>
    <h1>Utenti</h1>
  </div>
    <mat-paginator [length]="100"
                  [pageSize]="10"
                  [pageSizeOptions]="[10, 20, 50]"
                  aria-label="Select page">
    </mat-paginator>
</div>

  <table mat-table [dataSource]="dataSource" *ngIf="dataSource != null; else loading">

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- roles Column -->
    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef> Ruolo </th>
      <td mat-cell *matCellDef="let element;">
        <ng-container *ngFor="let el of element.roles">
          <span> {{el.roleName}}</span>
        </ng-container>
      </td> <!-- va in errore quando trova o 2 ruoli o nessun ruolo -->
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<ng-template #loading class="loading">
  <div class="container d-flex justify-content-center">
    <div class="spinner-border" role="status"></div>
  </div>
</ng-template>
